body {
	font-family: "Moncaco", monospace;
	background-color: #ebdfdd;
	margin: 50px 150px 100px 150px;
}

.grid {
    fill: grey;
    stroke: black;
    stroke-width: 0.1px;
}

.cell {
    fill: transparent;
    stroke: black;
    stroke-width: 0.2px;
}

.btn {
	width: 100px;
	height: 10px;
	background: transparent;
}

.btn-div {
	width: 150px;
	height: 20px;
}

.submit {
	width: 100px;
	height: 20px;
	fill: rgb(80, 220, 70);
	/*opacity: 0.4;*/
	/*border-color: black;*/
	stroke: black;
	strokeWidth: 3px;
}

.reset {
	width: 100px;
	height: 20px;
	fill: lightgrey;
	/*opacity: 0.4;*/
	/*border-color: black;*/
	stroke: black;
	strokeWidth: 3px;
}

.txt {
	font-weight: .2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
}

/*.button rect {
  
  fill: #26654F;
  stroke: none; 
    
}
.button rect.active {
    
  fill: #2C785E; 
  stroke: #26654F;
  stroke-width: 2px;

}

.button text {
    
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  fill: #FFFFFF;
  pointer-events: none;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
    
}*/